.image-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.selected-image {
    padding: 0% 1%;
}

.image {
    width: 100%;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail-image {
    max-width: 23%;
    height: auto;
    padding: 1%;
}